body, html {
    height: 100%;
    margin: 0;
}


.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}



/* HEADER */
.header {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.header .search-box {
    display: grid;
    grid-template-columns: 1.5fr .5fr 7fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.header .search-box button {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-style: none;
    background: none;
}

.header .search-box input{
    background-color: rgb(230, 230, 230);
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    border-radius: 20px;
    border-style: none;
}

.header .welcome {
    display: grid;
    grid-template-columns: .5fr 2fr .5fr;
    grid-template-rows: .1fr 1fr .1fr;
}

.header .welcome .flex-container {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.header .welcome img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 0px 20px 0px 20px
}

.header .welcome .greeting{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header .welcome .name,p {
    margin: 0px ;
}

.header .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    gap: 30px;
}

.header .actions button {
    background-color: rgb(63, 151, 180);
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border-style: none;
}

.header .bell-profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 80px;
    gap: 25px;
    font-weight: bold;
    font-size: large;
    margin-left: 20px;
}

.header .bell-profile button {
    border-style: none;
    background: none;
}

.header .bell-profile img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


/* SIDEBAR */
.sidebar {
    background-color: rgb(63, 151, 180);
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 10fr 5fr 5fr;
    row-gap: 35px;
    padding: 10px;
}

.sidebar h1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: center;
}

.sidebar .menu-top {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size:x-large;
}

.sidebar .menu-bottom {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    font-size:x-large;
}

a {
    text-decoration: none;
    color: white;
}


/* CONTENT */
.content {
    background-color: rgb(219, 219, 219);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    overflow: scroll;
    display: grid;
    grid-template-columns: 1fr .3fr;
    padding-left: 20px;
    gap: 30px;
}

.content .right-panel {
    grid-column: 2 / 3;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding-left: 0px;
}

.card {
    background-color: white;
    height: 250px;
    width: 1fr;
    border-radius: 20px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-image: -webkit-linear-gradient(left, orange, orange 2%, transparent 2%, transparent 100%);
}

.card p {
    padding: 10px;
    padding-left: 20px;
}

.card .card-title {
    font-weight: bolder;
}

.card .btns {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
